body{
    margin: 0;
    padding: 0;

    background-color: #f1f1f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    text-align: justify;
}

h1, h2, h3, p, span{
    margin: 0;
    padding: 0;
}

a{
	color: #333;
	text-decoration: none;
}

.bold{
    font-weight: bold;
}

/*CONTENT*/

#container{
    margin:0 auto;
    width: 1140px;
}

#logo50bits{
    font-size: 140px;
    letter-spacing: -5.5px;
    color: #333;
}

#txtPresentacion{
    font-size: 20px;
    color: #a3a3a3;
    margin-left:-300px;
    padding-top: 22px;
}

#txtRedesSociales{
    font-size: 15px;
    color: #500050;
    background-color: white;
    padding: 20px;
    height: 30px;
    width:250px;
    float:right;
    border-radius: 10px;
   
}

#txtRedesSociales img{
    width: 30px;
    float:right;
}

#imgs_portfolio{
    margin-top: 50px;
}

#imgs_portfolio section{
    margin-bottom: 50px;
}

#imgs_portfolio .column img{
    border: 3px solid #666;
    border-radius: 5px;
}

#imgs_portfolio .column .row{
    justify-content: flex-start;
    align-items: center;
}

#imgs_portfolio .column .row span{
    padding: 5px 10px 5px 40px;
}

/*PIE*/

#pie{
    background-image: url('../img/img_pie.png');
    background-repeat: no-repeat;
    height: 100px;
    max-height: 100%;

    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
    background-color: #e7e7e7;
}

#pie .logoFreepik {
    float: left;
    padding-left: 30px;
    width: 70px;
}

#pie .imagesDesignedBy {
    width: 150px;
    float: left;
    margin: 0 auto;
}

/*IMG*/

#slide_presentacion{
    padding:50px;
}


img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/*FLEX*/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.columns{
    display: flex;
}

.column{
    display:flex;
    align-items: center;
    flex: 1;
}

/*UP BUTON*/

.ir-arriba {
	display:none;
	padding:20px;
	background:#888;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    border-radius: 10px;
}


.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  /*ANCHOR*/

/* unvisited link */
a:link {
	color: 666;
	font-weight: 700;
  }
  
  /* visited link */
  a:visited {
	color: 666;
	font-weight: 700;
  }
  
  /* mouse over link */
  a:hover {
	color: 666;
	font-weight: 700;
  }
  
  /* selected link */
  a:active {
	color: 666;
	font-weight: 700;
  }


  @media screen and (max-width: 800px){

    .row{
        flex-direction: column;
    }

    .columns{
        flex-direction: column;
        align-items: center;
    }

    #container{
        margin:0 auto;
        width:100%;
    }

    #logo50bits{
        font-size: 70px;
        padding: 0;
        margin-top: 30px;
    }

    #txtPresentacion{
        margin: 20px 0 0 0;
    }

    #slide_presentacion{
        padding: 0;
        width: auto;
        max-width: 100%;
    }

    #imgs_portfolio .column .row span{
        padding-left: 10px;
    }

    #pie{
        padding-top: 90px;
        padding-left: 30px;
        padding-bottom: 100px;
        padding-right: 30px;
    }

    #pie span{
        padding: 0;
    }

}